<div class="row">
<div class="col-12 col-lg-12 mb-4">
    <div class="card">
        <div class="card-header">Tranfer Tokens</div>
        <div class="card-body">
            <div class="text-center widgets-loading" id="loading"><div role="status" class="spinner-border text-info"><span class="sr-only"><%= t('loading') %></span></div></div>
            <div class="widgets-blur" id="container-data">
                <div class="table-responsive" id="table-data" style="display: none;">
                    <table class="table table-striped table-hover table-sm widgets-table ">
                        <thead>
                            <tr>
                                <th class=""><%= t('widgets.titles.token_type') %></th>
                                <th class=""><%= t('widgets.headers.token_symbol') %></th>
                                <th class=""><%= t('address') %></th>
                                <th class="">Total Supply</th>
                                <th class="text-right"><%= t('widgets.titles.created') %></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <div class="more-text"><div class="more-text-link"><a class="more-link" id="more-link">Show more...</a></div></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    var currentPage = 1;

    function loadDataTable() {
    queryCseScan('tokens', `pagination.page=${currentPage}&pagination.limit=10`)
    .done(function(data) {
        $('#table-data').show();
        console.log('query data', data);
        tableBody = $("table tbody");
        data.listings.forEach(function(item) {
        tableBody.append(`<tr>
            <td class=""><span>${item.name}</span></td>
            <td class=""><span>${item.symbol}</span></td>
            <td class=""><span>${item.tokenAddress}</span></td>
            <td class=""><span>${numberWithCommas(Number(item.totalSupply)/Math.pow(10,item.decimals))}</span></td>
            <td class="text-right "><span>${m(Number(item.createdAt+'000')).format('YYYY-MM-DD HH:mm:ss')}</span></td>
        </tr>`)
        });
        // <td class=""><span><a href="/cse30/block/${item.blockHeight}">${item.blockHeight}</a></span></td>
        toogleLoading(false);
        if (Number(data.pagination.pages) < Number(data.pagination.page)) {
        $('.more-text').hide();
        }
    });
    }
    $( document ).ready(function() {

    $('#more-link').on('click', function() {
        toogleLoading(true);
        currentPage++;
        loadDataTable();
    });

        loadDataTable();

        // var query = new widgets.query(`
        //     query (
        //         $limit: Int!,
        //         $offset: Int!,
        //         $from: ISO8601DateTime,
        //         $till: ISO8601DateTime){
        //         tron{
        //             transfers(
        //             options:{desc: "count", limit: $limit, offset: $offset},
        //             amount: {gt: 0},
        //             date: {
        //             since: $from
        //             till: $till}

        //             ) {
        //                 currency {
        //                 symbol
        //                 address
        //                 tokenId
        //                 tokenType
        //                 }
        //                 count

        //                 senders: count(uniq: senders)
        //                 receivers: count(uniq: receivers)
        //                 days: count(uniq:dates)

        //                 from_date: minimum(of: date)
        //                 till_date: maximum(of: date)

        //                 amount
        //             }
        //         }
        //         }`);

        // new widgets.table('#transfers_by_currencies', query, 'tron.transfers', {
        //     title: '<%= t('widgets.headers.transfers_by_currencies') %>',
        //     dataOptions: [

        //         {
        //             title: '<%= t('widgets.titles.currency') %>',
        //             type: 'string-ellipsis',
        //             path: ['currency.symbol','currency.name','currency.address'],
        //             urlCallbackName: 'token_path'
        //         },

        //         {
        //             title: '<%= t('widgets.titles.token_type') %>',
        //             type: 'string',
        //             path: 'currency.tokenType'
        //         },

        //         {
        //             title: '<%= t('widgets.titles.first_transfer_date') %>',
        //             path: 'from_date'
        //         },
        //         {
        //             title: '<%= t('widgets.titles.last_transfer_date') %>',
        //             path: 'till_date'
        //         },

        //         {
        //             title: '<%= t('widgets.titles.transfer_days') %>',
        //             path: 'days'
        //         },

        //         {
        //             title: '<%= t('widgets.titles.uniq_senders') %>',
        //             path: 'senders'
        //         },
        //         {
        //             title: '<%= t('widgets.titles.uniq_receivers') %>',
        //             path: 'receivers'
        //         },
        //         {
        //             title: '<%= t('widgets.titles.transfer_amount') %>',
        //             path: 'amount',
        //             type: 'amount'
        //         },
        //         {
        //             title: '<%= t('widgets.titles.transfer_count') %>',
        //             path: 'count'
        //         },
        //     ]
        // });

        // queryWithTimeRange(rr, query, <%= @from.html_safe %>,<%= @till.html_safe %>,{
        //     network: '<%= params['network']['network'] %>'
        // });

    });
</script>