<div class="row">
<div class="col-12 col-lg-12 mb-4">
  <div class="card">
    <div class="card-header"><%= t('widgets.headers.tx_info') %></div>
    <div class="card-body">
      <div class="text-center widgets-loading" id="loading"><div role="status" class="spinner-border text-info"><span class="sr-only"><%= t('loading') %></span></div></div>
      <div class="widgets-blur" id="container-data">
        <div class="table-responsive" id="table-data" style="display: none;">
          <table class="table table-striped table-hover table-sm widgets-table">
            <thead>
              <tr>
                <th class=""><%= t('widgets.titles.attribute') %></th>
                <th class=""><%= t('widgets.titles.property_value') %></th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script>
  function loadDataTable() {
    graphqlBlockScout(
      'query {\n  transaction(hash: \"<%= @hash %>\") {\n    blockNumber\n    createdContractAddressHash\n    cumulativeGasUsed\n    error\n    fromAddressHash\n    toAddressHash\n    gas\n    gasPrice\n    gasUsed\n    id\n    index\n    input\n    nonce\n    status\n    value\n  }\n}',
      'transaction'
    )
    .then(function(data) {
      graphqlBlockScout(
        `query {\n  block(number: ${data.blockNumber}) {\n    consensus\n    difficulty\n    gasLimit\n    gasUsed\n    hash\n    minerHash\n    nonce\n    number\n    parentHash\n    size\n    timestamp\n    totalDifficulty\n  }\n}`,
        'block'
      )
      .then(function (block) {
        $('#table-data').show();
        console.log('query data', data);
        tableBody = $("#table-data table tbody");
        tableBody.append(`<tr>
            <td class="text-info font-weight-bold" style="width: 110px;"><span class="text-info font-weight-bold"><%= t('widgets.titles.block') %></span></td>
            <td class="ellipsis "><span><a href="/openchain/block/${data.blockNumber}">${data.blockNumber}</a></span></td>
          </tr>
          <tr>
            <td class="text-info font-weight-bold" style="width: 110px;"><span class="text-info font-weight-bold"><%= t('widgets.titles.timestamp') %></span></td>
            <td class="ellipsis "><span>${m(block.timestamp).format('YYYY-MM-DD HH:mm:ss')}</span></td>
          </tr>
          <tr>
            <td class="text-info font-weight-bold" style="width: 110px;"><span class="text-info font-weight-bold"><%= t('widgets.titles.tx_sender') %></span></td>
            <td class="ellipsis "><span><a href="/openchain/address/${data.fromAddressHash}">${data.fromAddressHash}</a></span></td>
          </tr>
          <tr>
            <td class="text-info font-weight-bold" style="width: 110px;"><span class="text-info font-weight-bold"><%= t('widgets.titles.tx_to') %></span></td>
            <td class="ellipsis "><span><a href="/openchain/address/${data.toAddressHash}">${data.toAddressHash}</a></span></td>
          </tr>
          <tr>
            <td class="text-info font-weight-bold" style="width: 110px;"><span class="text-info font-weight-bold"><%= t('widgets.titles.property_value') %></span></td>
            <td class="ellipsis "><span>${formatNumber(Number(data.value) / Math.pow(10, 8))} OPC</span></td>
          </tr>
          <tr>
            <td class="text-info font-weight-bold" style="width: 110px;"><span class="text-info font-weight-bold"><%= t('widgets.titles.gas_price') %></span></td>
            <td class="ellipsis "><span>${formatNumber(Number(data.gasPrice) / Math.pow(10, 9))} Gwei</span></td>
          </tr>
          <tr>
            <td class="text-info font-weight-bold" style="width: 110px;"><span class="text-info font-weight-bold">Gas Limit</span></td>
            <td class="ellipsis "><span>${formatNumber(Number(data.gas))}</span></td>
          </tr>
          <tr>
            <td class="text-info font-weight-bold" style="width: 110px;"><span class="text-info font-weight-bold"><%= t('widgets.titles.gas_used') %></span></td>
            <td class="ellipsis "><span>${data.gasUsed}</span></td>
          </tr>
          <tr>
            <td class="text-info font-weight-bold" style="width: 110px;"><span class="text-info font-weight-bold">Nonce</span></td>
            <td class="ellipsis "><span>${data.nonce}</span></td>
          </tr>
          <tr>
            <td class="text-info font-weight-bold" style="width: 110px;"><span class="text-info font-weight-bold">Status</span></td>
            <td class="ellipsis "><span>${data.status}</span></td>
          </tr>`);
        toogleLoading(false);
      })
      .catch(function() {
          toogleLoading(false);
          $('#table-data').html('No data');
      });
    })
    .catch(function() {
        toogleLoading(false);
        $('#table-data').html('No data');
    });
  }

    $( document ).ready(function() {
      loadDataTable();

        // ${data.tx.token ?
        //     `<tr>
        //       <td class="text-info font-weight-bold" style="width: 110px;"><span class="text-info font-weight-bold">Interacted With (To)</span></td>
        //       <td class="ellipsis "><span>[Contract <a href="/openchain/token/${data.tx.to}">${data.toAddressHash}</a> (${data.tx.token.name}: ${data.tx.token.symbol})]</span></td>
        //     </tr>
        //     <tr>
        //       <td class="text-info font-weight-bold" style="width: 110px;"><span class="text-info font-weight-bold">Token Transferred</span></td>
        //       <td class="ellipsis "><span>To <a href="/openchain/address/${data.tx.data.payload.to}">${data.tx.data.payload.to}</a> ${numberWithCommas(formatNumber(Number(data.tx.data.payload.amount) / Math.pow(10, data.tx.token.decimals)))} ${data.tx.token.symbol}</span></td>
        //     </tr>`
        //   :
        //     `<tr>
        //       <td class="text-info font-weight-bold" style="width: 110px;"><span class="text-info font-weight-bold"><%= t('widgets.titles.tx_to') %></span></td>
        //       <td class="ellipsis "><span><a href="/openchain/address/${data.tx.to}">${data.tx.to}</a></span></td>
        //     </tr>`
        //   }
        // var query = new widgets.query(`query (
        //                       $hash: String!){
        //                   tron{
        //                     transactions(txHash: {is: $hash}
        //                   ){

        //                         block {
        //                                 height
        //                                 timestamp {
        //                                   time (format: "%Y-%m-%d %H:%M:%S")
        //                                 }
        //                               }


        //                               success


        //                               contractAddress{
        //                                 address
        //                                 annotation
        //                               }

        //                               fee
        //                               feeLimit
        //                               netFee
        //                               energyFee
        //                    }
        //                   }
        //                 }`);



        // new widgets.table('#tx_info', query, 'tron.transactions', {
        //     title: '<%= t('widgets.headers.tx_info') %>',
        //     renderData: function (data) {
        //         item = data[0];
        //         return !item ? [] : [
        //             {name: '<%= t('widgets.titles.block') %>', value: item.block.height, block: item.block},
        //             {name: '<%= t('widgets.titles.timestamp') %>', value: item.block.timestamp.time},
        //             {name: '<%= t('widgets.titles.smart_contract') %>', value: (item.contractAddress.annotation || item.contractAddress.address), address: item.contractAddress},
        //             {name: '<%= t('widgets.titles.fee') %>', value: item.fee},
        //             {name: '<%= t('widgets.titles.netfee') %>', value: item.netFee},
        //             {name: '<%= t('widgets.titles.energyfee') %>', value: item.energyFee},
        //             {name: '<%= t('widgets.titles.feelimit') %>', value: item.feeLimit},
        //             {name: '<%= t('widgets.titles.success') %>', value: item.success + ' ' + item.error },

        //         ];
        //     },
        //     dataOptions: [
        //         {
        //             title: '<%= t('widgets.titles.attribute') %>',
        //             type: 'string',
        //             path: 'name',
        //             style: 'width: 110px',
        //             html_class: 'text-info font-weight-bold'
        //         },
        //         {
        //             title: '<%= t('widgets.titles.property_value') %>',
        //             type: 'string-ellipsis',
        //             path: 'value',
        //             urlCallbackName: 'property_value_path'
        //         },
        //     ]
        // });

        // query.request({

        //     hash: '<%= @hash %>'
        // });

    });
</script>