<%= render partial: 'openchain/trc20token/trades_table' %>

<div class="row">
  <%= render partial: 'openchain/trc20token/trades_by_time' %>
  <%= render partial: 'openchain/trc20token/trades_currencies' %>
</div>


<div class="row">
  <%= render partial: 'openchain/trc20token/trade_base_buyers' %>
  <%= render partial: 'openchain/trc20token/trade_base_sellers' %>
</div>