
<%= render partial: "openchain/address/calls_table" %>

<div class="row">
  <%= render partial: 'openchain/address/calls_by_time' %>
  <%= render partial: 'openchain/address/top_fee_calls_table' %>
</div>

<div class="row">
  <%= render partial: "openchain/address/smart_contracts_table" %>
  <%= render partial: "openchain/address/smart_contract_methods_called_table" %>
</div>

